.bg-main {
    background-color: #272a37;
}

.bg-optional {
    background-color: #323644;
}

.r-60 {
    border-radius: 60px;
}

.r-30 {
    border-radius: 30px;
}

.padd-button {
    padding: 0.5em 3em 0.5em 3em;
}
